<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="nz.co.nonameden.spotifystreamer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_spotify"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.ArtistSearchActivity"
            android:label="@string/title_activity_spotify"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TopTracksActivity"
            android:label="@string/title_activity_spotify_tracks"
            android:parentActivityName=".ui.ArtistSearchActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ArtistSearchActivity" />
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".ui.ArtistSearchActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ArtistSearchActivity" />
        </activity>

        <activity
            android:name=".ui.PlayerActivity"
            android:label="@string/title_player"/>

        <service
            android:name=".media.MusicPlayerService"
            android:exported="true"
            tools:ignore="ExportedService"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".media.RemoteControlClientButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="nz.co.nonameden.spotifystreamer.ACTION_MEDIA_BUTTONS"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
